@import "../../assets/SASS/variable.scss";

li {
  height: 70px;
  background-color: $white;
  &:hover {
    filter: brightness(0.9);
  }
}
.wrapper_item {
  display: flex;
  align-items: center;
  padding: 15px;

  .item_checkbox {
    margin-right: 15px;
    cursor: pointer;
  }
  .wrapper_text {
    margin-right: auto;
    p {
      font-size: 20px;
      font-weight: bold;
      margin: 0;
    }
  }
  .wrapper_deadline {
    margin-right: 20px;
    p {
      margin: 0;
    }
    .warning_deadline {
      float: right;
      padding: 2px 5px;
      border-radius: 20px;
      background-color: $yellow;
      font-size: 12px;
      color: $white;
    }
    .error_deadline {
      float: right;
      padding: 2px 5px;
      background-color: $red;
      color: $white;
      font-size: 12px;
      border-radius: 20px;
    }
  }
  .wrapper_icons {
    margin-left: 10px;
    display: flex;
    align-items: center;
    .icon_delete {
      cursor: pointer;
      color: $red;
      &:hover {
        filter: brightness(0.8);
      }
    }
    .icon_edit {
      color: $yellow;
      cursor: pointer;
      margin-right: 8px;
      &:hover {
        filter: brightness(0.8);
      }
    }
  }
}
